
body{
    background-color: #9E6B55;
}
h1{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#ffffff;
    background-color:#735649;
}
h2{
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    background-color: #735649;
}
h3{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color:#735649;
}
.general_ed ul li {
    background-color: #9E6B55;
}
.general_ed{
   background-color: #735649;
}
.specific_ed ul li {
    background-color: #9E6B55;
}
.specific_ed{
    background-color:#735649;
}
